<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethereal | 404</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        :root {
            --bg-color: #050505;
        }

        * {
            font-family: 'Montserrat', sans-serif;
        }

        body {
            background-color: var(--bg-color);
            color: #FFF;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 100px;
        }

        h1 {
            font-size: 48px;
            color: #FFF;
        }

        p {
            font-size: 24px;
            color: #FFF;
        }

        button {
            background-color: transparent;
            border: 2px solid #1c1c1c;
            color: #FFF;
            padding: 10px;
            border-radius: 5px;
            margin: 2.5px;
            transition: 0.25s ease;
        }

        button:hover {
            transform: scale(1.1);
            background-color: #1c1c1c;
            cursor: pointer;
        }

        button:active {
            background-color: #FFF;
            border: 2px solid #FFF;
            color: #000;
        }

       
    </style>
</head>
<body>
    <h1>Oops! Page Not Found</h1>
    <p>The page you are looking for does not exist.</p>
    <button onclick="goBack()">Go Back</button>

    <script>function goBack() {window.history.back();}</script>
    <!--why are you looking at the html-->
</body>
</html>